*,
.content {
  margin: 0;
  padding: 0;
}
body {
  background-color: #E9E9E9;
  font-family: "微端雅黑";
}
.banner {
  position: relative;
  height: 150px;
  background-image: url("../img/banner.jpg");
  background-position: center;
}
nav {
  background-color: white;
  text-align: center;
}
nav li {
  display: inline-block;
  font-size: 16px;
  list-style: none;
  padding: 10px;
}
nav li a {
  color: black;
}
nav .liClick {
  border-bottom: 4px solid orangered;
}
dl {
  background: white;
  padding: 20px;
}
dl dt span {
  border-bottom: 4px solid orangered;
  display: inline-block;
  padding: 0 6px 6px;
}
dl dd label {
  font-weight: 400;
  width: 70px;
  text-align: right;
}
dl dd input {
  width: 64%!important;
  display: inline-block !important;
  margin-bottom: 10px;
}
dl dd button {
  width: 64%;
  background: #E67D23;
  color: white;
}
dl dd p span {
  font-size: 12px;
  padding: 6px 0;
}
